<!-- Team form -->
<%= form_for team do |f| %>
	<div>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>
	<div>
		<%= f.label "Current Table Position: " %>
		<%= f.number_field :current_place %>
	</div>
	<div>
		<%= f.label :league_id %>
		<%= f.select :league_id, League.all.collect { |league| [ league.name, league.id ] } %> 
	</div>
	<div>
		<%= f.submit %>
	</div>
<% end %>
<!-- End team form -->