<h2> Teams </h2>
<ul>
	<% @teams.each do |team| %>
		<li><%= link_to "#{team.name}", team_path(team) %></li>
		<% if current_user.try(:admin?) %>
			<%= link_to "Edit This Team", edit_team_path(team) %>
			<%= link_to "Add a Player to This Team", new_team_player_path(team) %>
		<% end %>
	<% end %>
</ul>

<h3> Next 5 EPL Fixtures </h3>
<% @data.each do |fixture| %>
	<div class="fixtures">
		<div>
			<%= fixture["date"] + " EST" %>
		</div>
		<div>
			<%= fixture["competition"].gsub("England", "English") %>
		</div>
		<div>
			<%= fixture["home"] + ' vs ' + fixture["away"] %>
		</div>
	</div>
	<br/>
<% end %>

<h3> Top Scorers </h3>
<% @data2.each do |player| %>
	<div>
		<%= "#{player["player"]} - #{player["goals"]}" %>
	</div>
	<br/>
<% end %>

<% if current_user.try(:admin?) %>
  <%= link_to "Add New Team", new_team_path %>
<% end %>