<!-- Displays basic team information and crest/logo -->
<div class="ten columns offset-by-three">
	<!-- Team Logo -->
	<%= image_tag("#{@team.name.downcase.gsub(/\s/, '-')}.png", :class => "five columns bg") %>

	<div class="middle">
		<h2 class="team-title"> <%= @team.name %> </h2>
		<h4 class="team-title"> Current Table Position: <%= @team.current_place %> </h4>

		<!-- Only displays button when user is signed in, and the team as not yet been favorited -->
		<% if user_signed_in? && !current_user.teams.map { |fav| fav.id }.include?(@team.id) %>
			<%= button_to "Add to Favorites", new_favorites_path(@team) %>
		<% end %>
	</div>
</div>
<!-- End basic team information -->

<div class="row"></div>

<!-- Displays teams players -->
<div class="columns three teams">
	<h2 class="home-title">Players</h2>
	<ul>
		<!-- Outputs team roster -->
		<% @team.players.each do |player| %>
			<li class="player-name"><%= link_to "#{player.name}", team_player_path(@team.id, player) %></li>
		<% end %>
	</ul>
</div>
<!-- End team players -->

<!-- Displays the teams future fixtures -->
<div class="thirteen columns alpha fixture-holder">
	<h4 class="white fix-head">Upcoming Fixtures:</h4>
	<% @data2.each do |fixture| %>
		<div class="team-fixtures">
			<ul>
				<li>	
				<%= fixture["date"] + " EST" %>
				<br/>
				<%= fixture["competition"].gsub("England", "English") %>
				<br/>
				<strong class="white"><%= fixture["home"] + ' vs ' + fixture["away"] %></strong>
				</li>
			</ul>
		</div>
	<% end %>
</div>
<!-- End team future fixtures -->

<!-- Displays the teams last few fixtures -->
<div class="thirteen columns alpha fixture-holder top-marg">
	<h4 class="white fix-rec">Recent Fixtures:</h4>
	<% @data3.each do |fixture| %>
		<div class="team-fixtures">
			<ul>
				<li>	
				<%= fixture["date"] + " EST" %>
				<br/>
				<%= fixture["competition"].gsub("England", "English") %>
				<br/>
				<strong class="white"><%= fixture["home"] + ' vs ' + fixture["away"] %></strong>
				<br/>
				<strong class="white"><%= "#{fixture["fulltime"][0]} - #{fixture["fulltime"][1]}" %></strong>
				</li>
			</ul>
		</div>
	<% end %>
</div>
<!-- End team past fixtures -->

<!-- Displays team news -->
<div class="columns thirteen alpha team-news">
	<h3 class="white"> Team News </h3>
	<ul>
		<% @articles.each do |article| %>
			<li>
				<%= link_to "#{article["title"]}", article["link"], :target => "_blank" %>
			</li>
		<% end %>
	</ul>
</div>
<!-- End team news -->

<div class="row"></div>

<!-- Embeds Twitter feed based on team name -->
<%= render partial: "twitter", locals: {team: @team.name} %>
<!-- End Twitter feed -->

<% if current_user.try(:admin?) %>
<%= link_to "Add a Player to This Team", new_team_player_path(@team) %>
<% end %>