<!-- Form for players -->
<%= form_for [team, player] do |f| %>
	<div>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>
	<div>
		<%= f.label :age %>
		<%= f.number_field :age %>
	</div>
	<div>
		<%= f.label :nationality %>
		<%= f.text_field :nationality %>
	</div>
	<div>
		<%= f.label :position %>
		<%= f.text_field :position %>
	</div>
	<div>
		<%= f.label :bio %>
		<%= f.text_area :bio %>
	</div>
	<div>
		<%= f.submit %>
	</div>
<% end %>
<!-- End player form -->