<!-- Show basic player info -->
<%= image_tag("#{@pic}", :class => "player-pic") %>
<div class="player-info">
	<h2> <%= @player.name %> </h2>
	<h4> <%= @player.nationality %> </h4>
	<h4> <%= @player.position %> </h4>
	<h4> <%= @player.age %> years old</h4>
	<h5 id="bio">Bio: </h5>
	<h4> <%= @player.bio %> </h4>
</div>
<!-- End player info -->

<!-- Admin functionality -->
<% if current_user.try(:admin?) %>
	<%= link_to "Edit Player", edit_team_player_path(@player.team, @player) %>
<% end %>
<!-- End admin functionality -->